<!DOCTYPE html>
<html>
<head>
  <title>Update apk gem</title>
  <%= stylesheet_link_tag    "update_apk_gem/application", media: "all" %>
  <%= javascript_include_tag "update_apk_gem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
